<div align="right">
<a href="https://verichains.io">
<img border="0" title="Release sponsor" src="/img/verichains2.png" height="35">
</a>
<a href="https://canary.tools">
<img border="0" title="Release sponsor" src="/img/thinkst.png" height="35" style="margin: 0px 10px">
</a>
<a href="https://www.nowsecure.com">
<img border="0" title="Release sponsor" src="/img/nowsecure.png" height="35">
</a>
<a href="https://senrio.com">
<img border="0" title="Release sponsor" src="/img/xipiter.png" height="35">
</a>
<a href="https://catenacyber.fr">
<img border="0" title="Release sponsor" src="/img/catena.png" height="35">
</a>
</div>


